html,body{
    height:100%;
    min-height:100%;
    }

body{
    font-family: 'Oswald', 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    position: relative;
    background: url("../images/ryoji-hayasaka-180564-unsplash.jpg");
    background-size: cover;
    background-repeat: repeat;
}
#subline{
    transform: translate(30px,-20px);
    color:var(--lighter-white);
    animation: hovering 2s ease-in-out infinite;
}
p{
    position: fixed;
    top: 40%;
    left: 25%;
    right: 15%;
    color:white;
    z-index: 1;
    font-size: 21px;
    line-height: 1.5;
}

p span{
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
p span:hover{
    color: var(--lighter-white)
}


@keyframes hovering{
    0%{
        transform: translate(30px,-20px);
    }
    50%{
        transform: translate(30px,-15px);
    }
    100%{
        transform: translate(30px,-20px);
    }
}